.dashboard{
    width: 90%;
    height: 90vh;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;

    /* From Uiverse.io by cbolson */ 
.switch {
    --_switch-bg-clr: #292a2b;
    --_switch-padding: 4px; /* padding around button*/
    --_slider-bg-clr: rgba(150, 159, 164, 0.65); /* slider color unchecked */
    --_slider-bg-clr-on: rgba(150, 159, 164, 0.65); /* slider color checked */
    --_slider-txt-clr: #ffffff;
    --_label-padding: 1rem 2rem; /* padding around the labels -  this gives the switch it's global width and height */
    --_switch-easing: cubic-bezier(
      0.47,
      1.64,
      0.41,
      0.8
    ); /* easing on toggle switch */
    color: white;
    width: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 9999px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    position: relative;
    isolation: isolate;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 1rem;
    width: 20rem;
  }
  
  .switch input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .switch > span {
    display: grid;
    place-content: center;
    transition: opacity 300ms ease-in-out 150ms;
    padding: var(--_label-padding);
  }
  .switch::before,
  .switch::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    transition: inset 150ms ease-in-out;
  }
  /* switch slider */
  .switch::before {
    background-color: var(--_slider-bg-clr);
    inset: var(--_switch-padding) 50% var(--_switch-padding)
      var(--_switch-padding);
    transition:
      inset 500ms var(--_switch-easing),
      background-color 500ms ease-in-out;
    z-index: -1;
    box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.3),
      0 1px rgba(255, 255, 255, 0.3);
    
  }
  /* switch bg color */
  .switch::after {
    background-color: var(--_switch-bg-clr);
    inset: 0;
    z-index: -2;
  }
  /* switch hover & focus */
  .switch:focus-within::after {
    inset: -0.25rem;
  }


  /* checked - move slider to right */
  .switch:has(input:checked)::before {
    background-color: var(--_slider-bg-clr-on);
    inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding)
      50%;
  }
  /* checked - set opacity */
  .switch > span:last-of-type,
  .switch > input:checked + span:first-of-type {
    opacity: 0.75;
  }
  .switch > input:checked ~ span:last-of-type {
    opacity: 1;
  }
  

    .nav
    {
        position: sticky;
        bottom: 1%;
        width: 20%;
        height: 3rem;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 0px 50px 5px rgba(0, 0, 255, 0.277);

        button{
            width: 100%;
            height: 100%;
            border: none;
            border-radius: .5rem;
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            background-color: white;
            font-size: 1.05rem;
        }

        #qr-scan{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            background-color: rgb(0, 0, 255);
            display: none;
        }
    }
    

    .your-event-wrapper{
        width: 100%;
        color: white;
        font-family: 'Inter', sans-serif;
        padding-top: 2rem;
        font-size: .8rem;
        margin-bottom: 4rem;

        .your-event{
           width: 90%;
           border: 1px solid rgba(255, 255, 255, 0.1);
           margin-left: 50%;
           transform: translateX(-50%);
           border-radius: .5rem;
           display: flex;
           flex-direction: column;
           align-items: center;
           padding-top: 1rem;
           padding-bottom: 1rem;
           row-gap: .5rem;
           margin-top: 1rem;
        
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .dashboard{
        height: 92vh;

        .switch{
            width: 80%;
            height: 3rem;
            margin-top: 1rem;
        }

        .nav{
            width: 55%;
           box-shadow: 0px 0px 50px 5px rgba(0, 0, 255, 0.277);

            button{
                width: 65%;
                height: 100%;
                border: none;
                border-radius: .5rem;
                font-family: 'Inter', sans-serif;
                font-weight: 700;
                background-color: white;
                color: black;
                font-size: .8rem;
            }
    
            #qr-scan{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                background-color: rgb(18, 161, 18);
            }
        }

        .your-event-wrapper{
            .your-event{
                flex-direction: column;
                width: 100%;
                padding: .5rem;
                margin-top: 1rem;
            }

        }
    }
}