.account{
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: .9rem;
    color: white;
    row-gap: 3rem;

    
    h4{
        position: absolute;
        top: 5%;
        left: 2%;
        color: white;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        cursor: pointer;
        text-decoration: underline;
        
     }
}


.my-bookings{
    width: 80%;
    min-height: 15rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

button{
    width: 5rem;
    height: 2.25rem;
    border: none;
    background-color: red;
    border-radius: .5rem;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .account{
        width: 100%;
        padding: 1rem;
        padding-top: 2rem;

        h4{
            display: none;
        }

        .my-bookings{
            width: 100%;
        }
    }
}