.posteventpage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
    font-style: normal;

    h1{
        font-family: "Poppins", serif;
        font-weight: 700;
        font-style: normal;
        margin-top: 1rem;
    }

    .poster{
        background-color: var(--purple-color);
        width: 35%;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 2rem;

        h1{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
        }


        input{
            display: none;
        }
    }

    .event-desc{
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;

        input{
            width: 40%;
            height: 3rem;
            border: none;
            border-radius: .5rem;
            outline: none;
            padding-left: 1rem;
            flex-shrink: 0;
            font-weight: 600;
        }

        textarea{
            width: 40%;
            height: 10rem;
            border: none;
            border-radius: .5rem;
            outline: none;
            padding: 1rem;
            margin-bottom: 7rem;
            font-weight: 600;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
.posteventpage{
    
    h1{
        font-size: 1.5rem;
    }


    .poster{
        width: 90%;
    }

    .event-desc{
        input{
            width: 90%;
        }
        textarea{
            width: 90%;
        }
    }
}
}
